asgiref==3.11.1
certifi==2026.4.22
charset-normalizer==3.4.7
Django==6.0.5
gunicorn==26.0.0
idna==3.13
packaging==26.2
pillow==12.2.0
razorpay==2.0.1
reportlab==4.5.0
requests==2.33.1
sqlparse==0.5.5
tzdata==2026.2
urllib3==2.7.0
